@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

canvas{

    width:100vh !important;
    height:400px !important;
    padding: 20px;
  
  }

  .clear-left{
    clear:left;
  }
  
  .hero-image::after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    bottom: 0;
    left:0;
    right:0;
    height: 75vh;
    width: 100%;
    content: '';
  }

  #heroimg {
    background-image: url('/public/assets/herobg.png');
  }