@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

canvas{

    width:100vh !important;
    height:400px !important;
    padding: 20px;
  
  }